[submodule "jsmn"]
	path = jsmn
	url = git@github.com:magnostherobot/jsmn
[submodule "docopt"]
	path = docopt
	url = git@github.com:magnostherobot/docopt.cpp
[submodule "solvitaire-static-lib"]
	path = solvitaire
	url = git@github.com:magnostherobot/solvitaire-static-lib
[submodule "ctpl"]
	path = ctpl
	url = git@github.com:sheljohn/CTPL
